<!DOCTYPE html>

<html>
    <head>
        <title>Site</title>
        <link rel="stylesheet" href="styles.css" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body class = "image">
        <body class = "image">
        <h3 style = "padding: 130px 0; font-size: 60px; color:rgb(152, 155, 158);">Thank You for<br>Ordering</h3>


    </body>

</html>
