<!DOCTYPE html>

<html>
    <head>
        <title>Site</title>
        <link rel="stylesheet" href="styles.css" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body>
        <!-- Add HTML markup elements for your web site below -->
        <h2 name = "title" id = "test">Support Center</h2> 
        
        <div>


        <br/>

        </div>
    </body>
</html>
