<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make An Order</title>
    <link rel="stylesheet" href="styles2.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="script.js"></script>

</head>

<body>

    <h2 id="test">Make An Order</h2>

    <div>
        <form action="/order" method="post">
            <div class="scrollmenu">
                <img src="images/mhajeb.jpg" style="width:144px;height:96px;">
                <img src="images/msemen.jpg" style="width:144px;height:96px;">
                <img src="images/bradj.jpeg" style="width:144px;height:96px;">
                <img src="images/kesra.jpg" style="width:144px;height:96px;">
            </div>

            <div class="order-info">
                <div class="input-group">
                    <label for="food1">Select Mhajeb Quantity</label>
                    <select name="food1" id="food1">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="food2">Select Msemen Quantity</label>
                    <select name="food2" id="food2">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="food3">Select Bradj Quantity</label>
                    <select name="food3" id="food3">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="food4">Select Kesra Quantity</label>
                    <select name="food4" id="food4">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>

            <div class="extra-info">
                <label for="extra">Additional Information:</label>
                <input type="text" id="extra" name="extra" placeholder="Any additional info" />
            </div>

            <div class="input-group">
                <label for="orderDate">Order Due By:</label>
                <input type="date" id="orderDate" name="date" required />
            </div>

            <input type="submit" value="Submit Order" />
        </form>

        <br />
        <script>
            let name = '<%- name %>';
            document.getElementById('test').innerHTML = 'Make an Order, ' + name;
        </script>
    </div>

</body>
</html>
